// Small devices (landscape phones, 576px and up)
@media (min-width: 400px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

html, body {
    height: 100%;
    margin: 0;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    background-color: #74b9ff;
    padding: 10px;
    border-radius: 25px;
}

.card {
    width: auto;
}

.card-title {
    color: #74b9ff;
}

.img-fluid {
    float: left;
    max-width: 100%;
    height: auto;
}

.bottom {
    margin-bottom: 15px;
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}

.btn-github {
    color: #fff;
    background-color: #444;
    border-color: rgba(0,0,0,0.2);
}

.btn-linkedin {
    color: #fff;
    background-color: #007bb6;
    border-color: rgba(0,0,0,0.2);
}

input[type=submit] {
    background-color: #74b9ff;
    color: white;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 20px; 
    resize: vertical;
  }

footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    margin-top: auto;
    width: 100%;
    height: 60px;
    line-height: 60px; 
    background-color: #7f8c8d;
    text-align: center;
  }